// Your custom SCSS should be written here...

p.subnav {
	text-align: center;
}
p.bullets {
	border: 1px #736357 solid;
	border-radius: 5px;
	padding: 5px;
	display: block;
}
a.bullets {
	color: #000 !important;
}
a.bullets:hover {
	color: #fff;
	text-decoration: none;
}
p.bullets:hover {
	background: #736357;
	color: #fff;
}
p.post-meta {
	color: #adadad;
	font-size: .75em
}
a:visited {
	color: $panther-gold;
	text-decoration: none;
}

.drawer {
	margin-top: 5px;
}
i.ico {
	text-align: center;
	font-size: 1em;
	display: block;
	float: left;
}
.close-dra {
	transform: translateY(3px);
	transition: transform .1s linear;
}
.close-dra:hover {
	transform: translateY(0px);
	transition: transform .1s linear;
}
#collegeLogo {
	background: none !important;
	overflow: visible;
	color: $black;
}
#collegelogo:hover {
	text-decoration: none;
}
.logo {
	font-family: futura, helvetica, sans-serif;
	padding: 0px;
	color: $black;
}